body
{
  background-image: url(https://i.ytimg.com/vi/POK3nj5GdOo/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
.game-title
{
  font-size: 50px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: chartreuse;
  text-shadow: 5px 0px #000;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 2px;
}
.game-area
{
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 10px solid grey;
  border-style: groove;
  background-color: cyan;
  margin-bottom: 5px;
}

.snake-dot
{
  box-sizing: border-box;
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
  /* border-radius: 50%; */
}

.snake-food
{
  box-sizing: border-box;
  position: absolute;
  height: 2%;
  width: 2%;
  border-radius: 50%;
  background-color: red;
  border: 1px solid #fff;
  z-index: 1;
}


footer{
  color: #fff;
  background-color: #00001a;
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
}

footer h2{
  padding: 10px 0px 10px 0px;
  text-align: center;
  
}